body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0px 200px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 235, 235);
    padding: 15px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.navbar .brand {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 150px;
}
.navbar .brand .deep {
    color: darkgrey;
}
.navbar .brand .thought {
    color: blue;
}
.navbar .menu {
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.navbar .menu .icon {
    margin: 0 10px;
    font-size: 16px;
    color: blue;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.navbar .menu .icon.grey-circle {
    color: black;
    background-color: grey;
}
.navbar .menu .icon.three-dots {
    color: blue;
    background-color: transparent;
}


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 50px 0px;
}
.content-container h2 {
    color: blue;
    margin: 0;
}
.content-container .submit-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 10px;
}
.description-container {
    margin: 0 0 30px 0px;
    padding: 50px;
    background-color: lightgrey;
    border-radius: 10px;
}
.description-container h3 {
    color: black;
    margin-top: 0;
}
.description-container p {
    color: lightblack;
}


.sidebar {
    width: 350px;
    height: 100%;
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s;
    margin-top: 65px;
    border-radius: 0px 10px 10px 10px;
}
.sidebar.collapsed {
    width: 100px;
}
.sidebar h4 {
    color: white;
    background-color: black;
    padding: 14px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.sidebar.collapsed h4 {
    justify-content: center;
    border: 1px solid black;
}
.sidebar.collapsed h4 span {
    display: none;
}
.sidebar.collapsed .menu-items {
    display: none;
}
.menu-items {
    padding: 10px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px 30px;
    cursor: pointer;
}
.sidebar ul li:hover {
    background-color: #ddd;
}

.right-sidebar {
    width: 100px;
    height: 350px;
    position: fixed;
    top: 85px;
    right: 0;
    display: flex;
    flex-direction: row;
    transition: width 0.3s;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid black;
}
.right-sidebar.collapsed {
    width: 50px;
}
.right-sidebar .black-section {
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 30px;
}
.right-sidebar .white-section {
    width: 50%;
    background-color: white;
    padding-top: 30px;
}


.right-sidebar .toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 15px 15px 15px;
    cursor: pointer;
    font-size: x-large;
}
.right-sidebar .notice-board {
    text-align: center;
    letter-spacing: 2px;
}
.right-sidebar .notice-board span {
    display: block;
    line-height: 25px;
}
.right-sidebar.collapsed .black-section .notice-board {
    display: none;
}

/* Basic styling */
.container {
    display: flex;
    justify-content: center;
}

.asset-container, .thread-container {
    width: 470px;
    height: 500px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.thread-container {
    width: 470px; /* Updated width */
    height: 500px; /* Updated height */
    margin-left: 40px;
}

.title, .thread-title {
    padding: 7px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content, .thread-content {
    padding: 7px;
}

.description-title {
    color: black;
}

.description-content {
    color: darkgrey;
}

iframe {
    width: 100%;
    height: calc(100% - 50px); /* Adjust height based on title and description */
}

.icon-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}

.thread-subtitle {
    padding: 7px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.textarea-row {
    display: flex;
    justify-content: space-between;
}

.textarea-row textarea {
    width: 48%;
    height: 80px;
}

.icon-row, .select-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.icon-row span, .select-row select {
    flex: 1;
    margin: 0 2px;
    text-align: center;
    cursor: pointer;
}

.icon-row span:hover, .select-row select:hover {
    background-color: lightgrey;
}

.select-row select {
    width: 48%;
    padding: 5px;
}

.add-thread-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 0;
}

.thread-summary textarea {
    width: 100%;
    height: 60px;
    margin-top: 5px;
}


/* Container styling */
.thread-container {
    width: 470px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* Shadow below container */
    position: relative;
}

/* Title styling */
.thread-title {
    padding: 7px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-title{
    margin: 30px 0px 0px 30px;
}
/* Content styling */

.content-heading{
    margin: 20px 0px 10px 30px;
}

.thread-content2{
    border: 1px solid #ccc;
    position: absolute;
    bottom: 0px;
    height: 250px;
    width: 400px;
    margin-left: 30px;
    border-radius: 15px;
    align-self: center;
}

/* Description styling */
.description-title {
    color: black;
}

.description-content {
    color: darkgrey;
}

/* Input styling */
input[type="text"] {
    width: 400px;
    margin: 5px 0 10px 0px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0px 0px 30px;
}

/* Icon row styling */
.icon-row {
    display: flex;
    justify-content: flex-start;
    margin: 10px 30px 20px 30px;
}

.icon-row span {
    cursor: pointer;

}

.icon-row span:hover {
    background-color: lightgrey;
}

/* Navigation icons styling */
.navigation-icons {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    
}

.navigation-icons span {
    cursor: pointer;
}

/* Font Awesome icons styling */
.fa {
    font-size: 20px;
}


/* Container styling */
.container-four {
    width: 470px;
    height: 500px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Bottom box shadow */
    border-radius: 15px;
    margin-left: 40px;
}

/* Title styling */
.container-four-title {
    padding: 7px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Content styling */
.container-four-content {
    padding: 10px;
}

.container-four-description {
    color: darkgrey;
}

/* Subtitle styling */
.container-four-subtitle {
    padding: 7px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Text styling */
.container-four-text {
    margin-bottom: 15px;
}

.container-four-detail-content{
    display: flex;
}
/* See more button styling */
.see-more-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
    
}

/* Example heading styling */
.container-four-example-heading {
    border-top: 1px solid #ccc;
    padding: 7px;
    margin-top: 10px;
}

/* Example content styling */
.container-four-example-content {
    padding: 7px;
}

/* Icon button styling */
.icon-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}

.fa {
    font-size: 20px;
}
